# 忽略 Python 缓存
__pycache__/

# 忽略日志文件
*.log
*.logs

# 忽略环境
envs/
env/
.env.example

# 忽略 VSCode 配置
.vscode/

# 忽略 Redis 数据库
dump.rdb
backend/dump.rdb

# 忽略测试数据和原始数据
test/

pipeline/work/
pipeline/ref/